<a href="https://cognitiveclass.ai"><img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width = 400> </a>

<h1 align=center><font size = 5>Final Project : Regression Model in Keras</font></h1>

## Guide to reviewer

This notebook contains 4 parts A, B, C, and D which contain codes corresponding to the parts asked.

<h2>Regression Models with Keras</h2>

I'll be working upon the concrete data mentioned in the problem.

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [57]:
import pandas as pd
import numpy as np

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [58]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [59]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [60]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [61]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

# PART : A

### 1. Building baseline model :
    1.1. 1 hidden layer with 10 nodes
    1.2. ReLU
    1.3. Adam
    1.4. MSE

### 2. Train Test Split.
### 3. Training in 50 epochs.
### 4. Evaluatin on test data, finding MSE
### 5. Repeating 2-4 50 times and creating list of 50 MSEs.
### 6. Finding meand and SD of MSEs.

In [62]:
import keras
from keras.models import Sequential
from keras.layers import Dense

# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [63]:
from sklearn.model_selection import train_test_split
# splitting data
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

# train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size = 0.2)

In [64]:
# predictors
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [65]:
# target
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [66]:
# number of predictor columns
n_cols = predictors.shape[1] # number of predictors

In [67]:
# Buidling, Fitting and Evaluating model
from sklearn.metrics import mean_squared_error
MSEs = []

# build the model
model = regression_model()

for index in range(50) :
    
    # fit the model
    res = model.fit(X_train, y_train, epochs=50, verbose=0)
    
    # predicting and calculating MSE
    y_pred = model.predict(X_test)
    MSEs.append(mean_squared_error(y_test, y_pred))

print(MSEs)

[53.11685194270881, 40.66234156226955, 39.65871715413204, 39.62605920015085, 40.64828672301694, 42.40543155144871, 42.60015398177339, 41.068766177051025, 41.60020953598584, 40.37812083316926, 44.69190837381586, 39.98662119976502, 42.03356132854414, 46.31417711814607, 41.27827418311693, 42.7355073870983, 41.84440562680046, 40.20621578919066, 42.84931009469033, 42.49289945966078, 40.04554409525782, 39.34605177858023, 40.817439491529065, 41.927525615337665, 40.59636867278525, 39.34959192821595, 39.049940749218266, 39.16493191938339, 39.699546450055685, 43.32136159737661, 39.89119112760244, 39.75556748885803, 41.32887552343141, 39.264106552322396, 38.39862983975957, 37.09735063350373, 37.47836616248883, 39.03025991614559, 36.86335441621394, 37.312294026544016, 39.910751376454186, 36.73496889815298, 38.42803804035316, 36.11527789877963, 36.88364069967587, 35.99866525225278, 36.746603900379405, 35.41372031547865, 36.73329048808894, 37.07477078236162]

In [68]:
# finding mean and standard deviation of MSEs.
# importing statistics
import statistics

mean_mse = statistics.mean(MSEs)
stdev = statistics.stdev(MSEs)

print('Mean : %.2f' % mean_mse)
print('Standard Deviation : %.2f' % stdev)

Mean : 40.12
Standard Deviation : 3.01

# PART : B

## Part A with Normalized data

In [70]:
%%time
# Normalizing data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
n_cols = predictors_norm.shape[1] # number of predictors

# train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.2)

# Buidling, Fitting and Evaluating model
from sklearn.metrics import mean_squared_error
MSEsB = []

# build the model
modelB = regression_model()

for index in range(50) :
    
    # fit the model
    modelB.fit(X_train, y_train, epochs=50, verbose=0)
    
    # predicting and calculating MSE
    y_pred = modelB.predict(X_test)
    MSEsB.append(mean_squared_error(y_test, y_pred))

    
print(MSEsB)

[130.8539390405634, 85.19978541065836, 60.28826540197384, 49.069778681457976, 43.835668552993226, 41.41208734037751, 40.71295608305703, 39.87318643920244, 39.47338208156226, 39.444264165044636, 40.129621785201095, 39.841535221335036, 39.46582965348955, 39.12967859849149, 39.42699202864526, 38.60789649421291, 38.28408089805696, 38.29882603221978, 37.76600841185482, 37.777474361802966, 37.59483133759348, 37.50650632931213, 37.635444450646474, 37.89386449165481, 36.682407053491275, 37.008710111727005, 37.15582149868342, 37.47766055712146, 36.7371730373329, 36.83673101266145, 36.45740262926354, 37.32219134033705, 36.89279901098454, 36.76829162044061, 36.792172288900375, 37.26347335588442, 37.48150484824761, 37.12746149062794, 36.77507656962152, 36.872462317528644, 37.1027738153191, 37.000852863698285, 36.98376816767256, 37.04462604773974, 36.82934623712678, 37.0469916877245, 37.163771882287065, 37.28140567964838, 36.44650115071811, 37.17097174012492]
CPU times: user 3min 54s, sys: 1min 30s, total: 5min 24s
Wall time: 11min 23s

In [71]:
# finding mean and standard deviation of MSEs.
# importing statistics
import statistics

mean_mseB = statistics.mean(MSEsB)
stdevB = statistics.stdev(MSEsB)

print('Mean : %.2f' % mean_mseB)
print('Standard Deviation : %.2f' % stdevB)

Mean : 41.42
Standard Deviation : 14.97

In [74]:
# Difference of means of A and B model
print('Difference of means of Model A and Model B is {}', abs(mean_mseB - mean_mse))

Difference of means of Model A and Model B is {} 1.305368128943968

# Part : C

### Part B with 100 epochs

In [77]:
%%time
# Normalizing data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
n_cols = predictors_norm.shape[1] # number of predictors

# train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.2)

# Buidling, Fitting and Evaluating model
from sklearn.metrics import mean_squared_error
MSEsC = []

# build the model
modelC = regression_model()

for index in range(50) :
    
    # fit the model
    modelC.fit(X_train, y_train, epochs=100, verbose=0)
    
    # predicting and calculating MSE
    y_pred = modelC.predict(X_test)
    MSEsC.append(mean_squared_error(y_test, y_pred))

    
print(MSEsC)

[118.81490294778712, 86.32924464866593, 51.618287709104436, 49.658069913579375, 47.34753282255059, 46.84689404262474, 46.084599135635905, 45.787644649491256, 44.89225044514893, 44.402671731599945, 43.72417321731503, 42.78976060430574, 42.424295923508176, 42.381385115677006, 42.206437037921795, 42.15772844741535, 42.21733266333379, 41.957955872443556, 41.90785434239963, 41.97669447300774, 42.12792747513279, 41.70521245808371, 41.67635603103981, 41.40598648348364, 41.22240907364826, 41.79574175360606, 41.44548139790921, 41.22315058907974, 40.903208772352166, 40.73332867557158, 41.304759108811886, 41.79958133674666, 41.65211572803643, 41.611022254576156, 42.280736588223505, 41.69264803255452, 41.92131010040331, 41.94954915198479, 42.2434245508902, 41.374682672612366, 41.10750601665081, 40.852922289387685, 41.13492587363055, 40.94322139610359, 41.29368979176579, 41.260576458587664, 40.901698022958904, 41.17282407268323, 41.074882506015534, 41.861891677576125]
CPU times: user 7min 49s, sys: 3min 4s, total: 10min 53s
Wall time: 23min 15s

In [78]:
# finding mean and standard deviation of MSEs.
# importing statistics
import statistics

mean_mseC = statistics.mean(MSEsC)
stdevC = statistics.stdev(MSEsC)

print('Mean : %.2f' % mean_mseC)
print('Standard Deviation : %.2f' % stdevC)

# Difference of means of A and B model
print('Difference of means of Model B and Model C is {}', abs(mean_mseB - mean_mseC))

Mean : 44.98
Standard Deviation : 12.53
Difference of means of Model B and Model C is {} 3.5590846955460407

# Part : D
### Part D is Part B with Three hidden layers, each of 10 nodes and ReLU activation function.

In [80]:
# define regression model
def regression_model_D():
    # create model
    modelD = Sequential()
    modelD.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    modelD.add(Dense(10, activation='relu')) # HL1
    modelD.add(Dense(10, activation='relu')) # HL2
    modelD.add(Dense(10, activation='relu')) # HL3
    modelD.add(Dense(1))
    
    # compile model
    modelD.compile(optimizer='adam', loss='mean_squared_error')
    return modelD

In [81]:
%%time
# Normalizing data
predictors_norm = (predictors - predictors.mean()) / predictors.std()
n_cols = predictors_norm.shape[1] # number of predictors

# train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size = 0.2)

# Buidling, Fitting and Evaluating model
from sklearn.metrics import mean_squared_error
MSEsD = []

# build the model
modelD = regression_model_D()

for index in range(50) :
    
    # fit the model
    modelD.fit(X_train, y_train, epochs=50, verbose=0)
    
    # predicting and calculating MSE
    y_pred = modelD.predict(X_test)
    MSEsD.append(mean_squared_error(y_test, y_pred))

    
print(MSEsD)

[84.0081023636259, 42.936409654956236, 38.923123889406256, 35.69827418589624, 33.8015148353349, 33.043284501228456, 32.225200281194155, 33.0328415176961, 32.51145731725755, 32.67712001935159, 33.61083917507164, 32.95521127598811, 32.93521954535884, 32.296223206627296, 33.03827313161918, 33.58047238407894, 32.8084594756901, 33.913747610091896, 34.833948145328, 34.144970720165524, 34.08099473345765, 33.44081056754408, 33.55219168974567, 34.84414399706483, 33.36630199350315, 37.677757984722845, 35.692977083868925, 34.86453219277911, 36.598009705502854, 35.630927809466414, 33.29599074766487, 35.87138065164814, 36.575201718289975, 34.07310461869834, 34.158573344338606, 33.47314104933696, 34.317145035172224, 34.99974142841108, 35.1835267930905, 35.87228150464559, 34.62088677353888, 34.45201671769471, 33.337017576053874, 33.020554669295855, 34.70510963420464, 33.556380057916286, 32.66090322669469, 33.32959364075501, 34.4532545095186, 35.99797833256677]
CPU times: user 5min 13s, sys: 1min 37s, total: 6min 51s
Wall time: 14min 44s

In [82]:
# finding mean and standard deviation of MSEs.
# importing statistics
import statistics

mean_mseD = statistics.mean(MSEsD)
stdevD = statistics.stdev(MSEsD)

print('Mean : %.2f' % mean_mseD)
print('Standard Deviation : %.2f' % stdevD)

# Difference of means of B and D model
print('Difference of means of Model B and Model D is {}', abs(mean_mseB - mean_mseD))

Mean : 35.41
Standard Deviation : 7.26
Difference of means of Model B and Model D is {} 6.011342565663249

# End of Notebook